{% extends 'base.html' %} 
{% load static %} 

{% block title %}Kontakt - {{ seo_settings.title }}{% endblock title %}

{% block main_content %}
<main class="position-relative">
    <!-- page header section start -->
    <section class="page-header">
      <div class="container px-0">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="page-sub-title text-uppercase position-relative split-text right">
              BIZ BILAN ALOQA
              <img class="position-absolute page-header-shape contact-page-header-shape"
                src="{% static 'assets/img/images/page-header-shape.svg' %}" alt="page-header-shape">
            </h3>
          </div>
          <div class="col-lg-6">
            <p class="short-info contact-short-info">Biz bilan bog‘laning va barcha savollaringizga javob oling.</p>
          </div>
        </div>
        <h1 class="page-title text-uppercase position-absolute z-n1">Aloqa</h1>
      </div>
    </section>
    <!-- page header section end -->
    <!-- contact info section start -->
    <div class="contact-info-section">
      <div class="container px-0">
        <div class="row">
          <div class="col-lg-6 align-self-end">
            <div class="common-social-icon d-flex">
              <a class="d-flex justify-content-center align-items-center" href="contact.html#"><img
                  src="{% static 'assets/img/icons/contact-icon-1.svg' %}" alt="contact-icon"></a>
              <a class="d-flex justify-content-center align-items-center" href="contact.html#"><img
                  src="{% static 'assets/img/icons/contact-icon-2.svg' %}" alt="contact-icon"></a>
              <a class="d-flex justify-content-center align-items-center" href="contact.html#"><img
                  src="{% static 'assets/img/icons/contact-icon-3.svg' %}" alt="contact-icon"></a>
              <a class="d-flex justify-content-center align-items-center" href="contact.html#"><img
                  src="{% static 'assets/img/icons/contact-icon-4.svg' %}" alt="contact-icon"></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="contact-info">
              <ul class="list-unstyled">
                <li><a href="tel:+998942025511"><span>+</span> +998 (94) 202-55-11</a></li>
                <li><a href="tel:+998994164112"><span>+</span> +998 (99) 416-41-12</li>
                <li><span>+</span> Qarshi shari</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact info section end -->
  </main>

  <!-- lets talk with us section start -->
    <div class="lets-talk-section">
      <div class="container px-0 position-relative">
        <a class="view-all-btn view-all-btn-primary text-uppercase position-absolute start-50 translate-middle-x"
          href="career-details.html">
          Telegramdan yozing
          <div class="icon"><img src="{% static 'assets/img/icons/icon-up-right.svg' %}" alt="icon-up-right"></div>
        </a>
      </div>
    </div>
    <!-- lets talk with us section end -->
{% endblock main_content %}
