{% extends 'base.html' %} 
{% load static %} 

{% block title %}{{ seo_settings.title }}{% endblock title %}

{% block main_content %}
<!-- main area start -->
<main class="position-relative">
  <!-- lines -->
  <div
    class="inner-page-lines position-absolute d-flex justify-content-between w-100 top-0 bottom-0 z-n1"
  >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- banner section three start -->
  <section class="banner-section-three">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="text">
            <div class="top-title position-relative">
              <div
                class="clients-image d-flex align-items-center position-absolute"
              >
                <div class="img">
                  <img
                    src="{% static 'assets/img/testimonial/testimonial-sm-img-1.png' %}"
                    alt="testimonial-sm-img"
                    class="img-fluid w-100"
                  />
                </div>
                <div class="img">
                  <img
                    src="{% static 'assets/img/testimonial/testimonial-sm-img-2.png' %}"
                    alt="testimonial-sm-img"
                    class="img-fluid w-100"
                  />
                </div>
                <div class="img">
                  <img
                    src="{% static 'assets/img/testimonial/testimonial-sm-img-3.png' %}"
                    alt="testimonial-sm-img"
                    class="img-fluid w-100"
                  />
                </div>
                <div
                  class="img client d-flex align-items-center justify-content-center"
                >
                  <span>20+ Mijozlar</span>
                </div>
              </div>
              <h1 class="title split-text right">
                <span>AyTi</span> Xizmatlarini taklif qilamiz
              </h1>
            </div>
            <p>
              Biz raqamli tajribalarni yaratamiz — sizning biznesingiz uchun
              innovatsion dizayn, ilg‘or texnologiyalar va kuchli strategiyalar
              orqali yuksalishga yordam beramiz.
            </p>
            <a href="#" class="theme-btn position-relative"
              >Tezkor bog'lanish
              <span
                class="d-flex justify-content-center align-items-center position-absolute top-0"
              >
                <img
                  src="{% static 'assets/img/icons/icon-up-right.svg' %}"
                  alt="icon-up-right"
                />
              </span>
            </a>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="image position-relative">
            <div class="img reveal zoom-out">
              <img
                src="{% static 'assets/img/images/banner-three-img.png' %}"
                alt="banner-three-img"
                class="img-fluid w-100"
              />
            </div>
            <div
              class="counter-info position-absolute start-50 translate-middle-x d-flex justify-content-between align-items-center"
            >
              <div
                class="counter-item position-relative d-flex align-items-center"
              >
                <h3 class="number d-flex align-items-center">
                  <span class="counter">2</span>+
                </h3>
                <p>Yillik tajriba</p>
              </div>
              <div
                class="counter-item position-relative d-flex align-items-center"
              >
                <h3 class="number d-flex align-items-center">
                  <span class="counter">35</span>+
                </h3>
                <p>Yakunlangan loyihalar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- banner section three end -->
  <!-- about us section two start -->
  <section class="about-us-section-two position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="about-content section-title-block text-center">
            <h3 class="title section-title split-text right">
              O'zbekistonning yetakchi brendlari bizga ishonadi
            </h3>
            <p>
              Biz mijozlarni o‘ziga jalb etadigan va kuchli aloqa o‘rnatadigan
              raqamli yechimlarni yaratamiz.
            </p>
          </div>
        </div>
      </div>
      <div class="logos">
        <div class="row g-3">
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="logo">
              <a href="#">
                <img
                  src="{% static 'assets/img/about-us/about-logo-1.png' %}"
                  alt="about-logo"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="logo">
              <a href="#">
                <img
                  src="{% static 'assets/img/about-us/about-logo-2.png' %}"
                  alt="about-logo"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="logo">
              <a href="#">
                <img
                  src="{% static 'assets/img/about-us/about-logo-3.png' %}"
                  alt="about-logo"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="logo">
              <a href="#">
                <img
                  src="{% static 'assets/img/about-us/about-logo-4.png' %}"
                  alt="about-logo"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="logo">
              <a href="#">
                <img
                  src="{% static 'assets/img/about-us/about-logo-5.png' %}"
                  alt="about-logo"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="logo">
              <a href="#">
                <img
                  src="{% static 'assets/img/about-us/about-logo-6.png' %}"
                  alt="about-logo"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="about-video custom-wrapper-hover">
        <div class="img reveal zoom-out position-relative">
          <img
            src="{% static 'assets/img/about-us/about-us-img-2.png' %}"
            alt="about-us-img"
            class="img-fluid w-100"
          />
          <div
            class="rotate-img about-video-box mt-0 position-absolute top-50 start-50 translate-middle d-flex justify-content-center align-items-center text-center"
          >
            <img
              src="{% static 'assets/img/about-us/about-video-text-white.svg' %}"
              alt="about-video-text-white"
            />
            <a
              class="video-rotate-btn vidplay position-absolute top-50 start-50 translate-middle"
              href="https://www.youtube.com/watch?v=PkkV1vLHUvQ"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-player-play"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 4v16l13 -8z" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- about us section two end -->
  <!-- services section two start -->
  <section class="services-section services-section-three content">
    <div class="container px-0">
      <div class="row">
        <div class="col-lg-5 pe-lg-0">
          <div class="service-short-info">
            <div class="section-title-block">
              <h3 class="section-title split-text right">
                Bizning <br />Xizmatlarimiz
              </h3>
            </div>
            <p>
              Zamonaviy texnologiyalar va kreativ yechimlar yordamida
              biznesingizni yangi darajaga olib chiqamiz. Web saytlar, Telegram
              botlar, mobil ilovalar va raqamli marketing — barchasi bizda!
            </p>
            <div
              class="view-all-services d-flex justify-content-center justify-content-md-start"
            >
              <a class="view-all-btn" href="{% static 'service.html' %}">
                Barcha Xizmatlar
                <div class="icon">
                  <img
                    src="{% static 'assets/img/icons/icon-up-right.svg' %}"
                    alt="icon-up-right"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ms-auto">
          <div class="row">
            <div class="col-lg-12 fade-up">
              <div class="service-item-two d-flex">
                <div class="icon">
                  <img
                    src="{% static 'assets/img/services/service-icon-1.svg' %}"
                    alt="service-icon"
                  />
                </div>
                <div class="text">
                  <h4 class="title">Web Saytlar</h4>
                  <p>
                    Biznesingiz uchun zamonaviy va tezkor web saytlar yaratib
                    beramiz. Fikringizni brendga aylantiramiz!
                  </p>
                  <a
                    href="{% static 'service-details.html' %}"
                    class="view-all-btn2 pe-0"
                  >
                    Batafsil
                    <img
                      src="{% static 'assets/img/icons/icon-right.svg' %}"
                      alt="icon-right"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-12 fade-up">
              <div class="service-item-two d-flex">
                <div class="icon">
                  <img
                    src="{% static 'assets/img/services/service-icon-2.svg' %}"
                    alt="service-icon"
                  />
                </div>
                <div class="text">
                  <h4 class="title">Telegram Botlar</h4>
                  <p>
                    Savdo, xizmat va avtomatlashtirish uchun professional
                    Telegram botlar yaratamiz. Mijozlaringiz bilan tez va oson
                    aloqa qiling!
                  </p>
                  <a
                    href="{% static 'service-details.html' %}"
                    class="view-all-btn2 pe-0"
                  >
                    Batafsil
                    <img
                      src="{% static 'assets/img/icons/icon-right.svg' %}"
                      alt="icon-right"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-12 fade-up">
              <div class="service-item-two d-flex">
                <div class="icon">
                  <img
                    src="{% static 'assets/img/services/service-icon-5.svg' %}"
                    alt="service-icon"
                  />
                </div>
                <div class="text">
                  <h4 class="title">Mobil Ilovalar</h4>
                  <p>
                    Android va iOS platformalar uchun zamonaviy, qulay va tezkor
                    mobil ilovalar ishlab chiqamiz.
                  </p>
                  <a
                    href="{% static 'service-details.html' %}"
                    class="view-all-btn2 pe-0"
                  >
                    Batafsil
                    <img
                      src="{% static 'assets/img/icons/icon-right.svg' %}"
                      alt="icon-right"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-12 fade-up">
              <div class="service-item-two d-flex">
                <div class="icon">
                  <img
                    src="{% static 'assets/img/services/service-icon-3.svg' %}"
                    alt="service-icon"
                  />
                </div>
                <div class="text">
                  <h4 class="title">SMM va Targeting</h4>
                  <p>
                    Ijtimoiy tarmoqlarda reklama va auditoriya bilan samarali
                    aloqa. Brendingizni kuchaytiramiz va savdoni oshiramiz!
                  </p>
                  <a
                    href="{% static 'service-details.html' %}"
                    class="view-all-btn2 pe-0"
                  >
                    Batafsil
                    <img
                      src="{% static 'assets/img/icons/icon-right.svg' %}"
                      alt="icon-right"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- services section two end -->
  <!-- project section three start -->
  <div class="project-section-three">
    <div class="container">
      <div class="top-info">
        <div class="row g-4">
          <div class="col-lg-7">
            <div class="section-title-block">
              <h3 class="section-title split-text right">Portfolio</h3>
            </div>
          </div>
          <div class="col-lg-5">
            <p>Oxirgi ishlab chiqqan loyihalarimiz.</p>
          </div>
        </div>
      </div>
      <div class="row project-row">
        <div class="col-lg-12 col-md-6">
          <div class="project-three-item">
            <div class="row">
              <div class="col-lg-6 col-xl-7 pe-lg-0">
                <div class="image reveal left">
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    class="d-block w-100"
                  >
                    <img
                      src="{% static 'assets/img/projects/project-3-img-1.png' %}"
                      alt="Loyiha rasmi"
                      class="img-fluid w-100"
                    />
                  </a>
                </div>
              </div>
              <div class="col-lg-5 col-xl-4 align-self-center ps-lg-0 ms-auto">
                <div class="text">
                  <h4 class="title">Brend kuchini oshirish</h4>
                  <p>
                    Brending va marketing strategiyalarimiz yordamida
                    mijozlarimiz o‘z faoliyatlarini yangi bosqichga olib
                    chiqishmoqda.
                  </p>
                  <a
                    class="view-all-btn2"
                    href="{% static 'portfolio-details.html' %}"
                  >
                    Loyihani ko‘rish
                    <img
                      class="ms-1"
                      src="{% static 'assets/img/icons/icon-right.svg' %}"
                      alt="O'ngga o‘tish belgisi"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-6">
          <div class="project-three-item">
            <div class="row">
              <div class="col-lg-6 col-xl-7 pe-lg-0">
                <div class="image reveal left">
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    class="d-block w-100"
                  >
                    <img
                      src="{% static 'assets/img/projects/project-3-img-2.png' %}"
                      alt="Loyiha rasmi"
                      class="img-fluid w-100"
                    />
                  </a>
                </div>
              </div>
              <div class="col-lg-5 col-xl-4 align-self-center ps-lg-0 ms-auto">
                <div class="text">
                  <h4 class="title">Innovatsion veb-platformalar</h4>
                  <p>
                    Biz zamonaviy texnologiyalar asosida veb-loyihalarni
                    yaratib, biznesingizni raqamli dunyoda kuchli qilishga
                    yordam beramiz.
                  </p>
                  <a
                    class="view-all-btn2"
                    href="{% static 'portfolio-details.html' %}"
                  >
                    Loyihani ko‘rish
                    <img
                      class="ms-1"
                      src="{% static 'assets/img/icons/icon-right.svg' %}"
                      alt="O'ngga o‘tish belgisi"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-6">
          <div class="project-three-item">
            <div class="row">
              <div class="col-lg-6 col-xl-7 pe-lg-0">
                <div class="image reveal left">
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    class="d-block w-100"
                  >
                    <img
                      src="{% static 'assets/img/projects/project-3-img-3.png' %}"
                      alt="Loyiha rasmi"
                      class="img-fluid w-100"
                    />
                  </a>
                </div>
              </div>
              <div class="col-lg-5 col-xl-4 align-self-center ps-lg-0 ms-auto">
                <div class="text">
                  <h4 class="title">Ijodiy yechimlar</h4>
                  <p>
                    Har bir loyiha uchun noodatiy va samarali dizayn hamda
                    funksional yechimlar taklif qilamiz, bu esa sizni
                    raqobatchilardan ajratib turadi.
                  </p>
                  <a
                    class="view-all-btn2"
                    href="{% static 'portfolio-details.html' %}"
                  >
                    Loyihani ko‘rish
                    <img
                      class="ms-1"
                      src="{% static 'assets/img/icons/icon-right.svg' %}"
                      alt="O'ngga o‘tish belgisi"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- project section three end -->
  <!-- text slider section start -->
  <section class="text-slider-section">
    <div class="slider-main d-flex align-items-center">
      <div class="slider-item d-flex align-items-center">
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Biznes
        </h4>
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Strategiya
        </h4>
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Rivojlantirish
        </h4>
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Biznes
        </h4>
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Strategiya
        </h4>
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Rivojlantirish
        </h4>
      </div>
      <div class="slider-item d-flex align-items-center">
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Biznes
        </h4>
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Strategiya
        </h4>
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Rivojlantirish
        </h4>
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Biznes
        </h4>
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Strategiya
        </h4>
        <h4 class="title">
          <img
            src="{% static 'assets/img/icons/star-icon.svg' %}"
            alt="star-icon"
          />
          Rivojlantirish
        </h4>
      </div>
    </div>
  </section>
  <!-- text slider section end -->
  <!-- feature section three start -->
  <section class="feature-section feature-section-three content">
  <div class="container px-0">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-title-block text-center">
          <h3 class="section-title split-text right">
            Biz sizning muvaffaqiyatli o‘sishingiz uchun aniq qadamlar bilan ishlaymiz
          </h3>
          <p>
            Mijozlarni o‘ziga jalb qiladigan va aniq aloqalarni yaratadigan raqamli yechimlarni yaratamiz.
          </p>
        </div>
      </div>
    </div>
    <div class="feature-main">
      <div class="row">
        <div class="col-lg-6 col-md-6 feature-content position-relative fade-up">
          <div
            class="feature-item"
            style="background: url({% static 'assets/img/features/feature-img-1.png' %}) no-repeat center;"
          >
            <div class="feature-text d-flex flex-column w-100 h-100 justify-content-between">
              <div class="number">
                <span>01</span>
              </div>
              <div class="info">
                <h4 class="feature-title">Brifing va Tadqiqot</h4>
                <p>
                  Og‘riqni istagan yoki unga intiladigan hech kim yo‘q. Biz esa, samarali yechimlar ustida ishlaymiz.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 feature-content position-relative fade-up">
          <div class="feature-item no-img-item">
            <div class="feature-text w-100 h-100 d-flex flex-column justify-content-between">
              <div class="number">
                <span>02</span>
              </div>
              <div class="info">
                <h4 class="feature-title">Muvaffaqiyatli Fikr Almashinuvi</h4>
                <p>
                  Har bir g‘oya — natijaga qaratilgan qadam. Jamoaviy fikrlash orqali eng yaxshi g‘oyalar tug‘iladi.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 feature-content position-relative fade-up">
          <div class="feature-item no-img-item">
            <div class="feature-text w-100 h-100 d-flex flex-column justify-content-between">
              <div class="number">
                <span>03</span>
              </div>
              <div class="info">
                <h4 class="feature-title">Ishlab chiqarish jarayoni</h4>
                <p>
                  Rejalashtirilgan g‘oyalarni amaliyotga tadbiq etib, sifatli va kreativ mahsulotlar ishlab chiqamiz.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 feature-content position-relative fade-up">
          <div
            class="feature-item"
            style="background: url({% static 'assets/img/features/feature-img-2.png' %}) no-repeat center;"
          >
            <div class="feature-text w-100 h-100 d-flex flex-column justify-content-between">
              <div class="number">
                <span class="number-four">04</span>
              </div>
              <div class="info">
                <h4 class="feature-title">Sifat nazorati</h4>
                <p>
                  Har bir bosqichda natijani sinchiklab tekshirgan holda, mukammallik sari intilamiz.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- feature section three end -->
  <!-- testimonial section three start -->
  <section class="testimonial-section-three">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 order-2 order-lg-1">
        <div class="short-info">
          <p>
            Biz raqamli tajribalarni nafis tarzda yaratar ekanmiz, auditoriyangizni maftun qilib, ular bilan chinakam aloqa o‘rnatamiz.
          </p>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 ms-auto">
        <div class="section-title-block">
          <h3 class="section-title split-text right">
            Mijozlarimiz va hamkorlarimiz sharhlari
          </h3>
        </div>
      </div>
    </div>
    <div class="testimonial-main">
      <div class="row">
        <div class="col-lg-9 pe-md-0">
          <div
            class="testimonial-three-slider position-relative"
            style="background: url('{% static 'assets/img/testimonial/testimonial-3-img-1.png' %}') no-repeat center;"
          >
            <div class="testimonial-three-slider-main">
              <div class="slider-item">
                <p>
                  Biz eng keng ko‘lamdagi mijozlarning ijodiy ehtiyojlarini qondiramiz. Dizayn xizmatlarini tashqi manbadan olish istagidagi agentliklar yoki mukammal mahsulot dizaynerini izlayotgan kompaniyalar uchun ishonchli hamkormiz.
                </p>
                <div class="customer-info d-flex justify-content-between">
                  <div class="rating d-inline-flex">
                    {% for _ in "12345" %}
                      <img src="{% static 'assets/img/icons/star.svg' %}" alt="yulduz" />
                    {% endfor %}
                  </div>
                  <div class="user d-flex align-items-center">
                    <div class="img">
                      <img src="{% static 'assets/img/testimonial/testmonial-img-3.png' %}" alt="mijoz rasmi" />
                    </div>
                    <div class="text">
                      <h4 class="name">Esther Howard</h4>
                      <p class="designation">Mahsulot Menejeri</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <p>
                  Biz har qanday loyiha uchun ilhomlantiruvchi dizayn yechimlarini taqdim etamiz. Siz agentlik bo‘lasizmi yoki o‘z mahsulotingizni takomillashtirmoqchimisiz — biz har doim siz bilan birgamiz.
                </p>
                <div class="customer-info d-flex justify-content-between">
                  <div class="rating d-inline-flex">
                    {% for _ in "12345" %}
                      <img src="{% static 'assets/img/icons/star.svg' %}" alt="yulduz" />
                    {% endfor %}
                  </div>
                  <div class="user d-flex align-items-center">
                    <div class="img">
                      <img src="{% static 'assets/img/testimonial/testmonial-img-3.png' %}" alt="mijoz rasmi" />
                    </div>
                    <div class="text">
                      <h4 class="name">Esther Howard</h4>
                      <p class="designation">Mahsulot Menejeri</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-lg-3 ps-0">
          <div class="testimonial-info">
            <div class="quote text-center">
              <img src="{% static 'assets/img/icons/quote-2.svg' %}" alt="iqtibos belgisi" />
            </div>
            <div class="customer-img d-flex justify-content-center">
              <div class="img">
                <img src="{% static 'assets/img/testimonial/testmonial-img-1.png' %}" alt="mijoz rasmi" />
              </div>
              <div class="img">
                <img src="{% static 'assets/img/testimonial/testmonial-img-2.png' %}" alt="mijoz rasmi" />
              </div>
              <div class="img">
                <img src="{% static 'assets/img/testimonial/testmonial-img-3.png' %}" alt="mijoz rasmi" />
              </div>
              <div class="img position-relative">
                <img src="{% static 'assets/img/testimonial/testmonial-img-3.png' %}" alt="mijoz rasmi" />
                <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                  <span>1K+</span>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- testimonial section three end -->
  <!-- blog section three start -->
  <section class="blog-section-three position-relative content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-title-block">
            <h3 class="section-title split-text right">
              Mijozlarimiz va hamkorlarimizning fikrlari
            </h3>
          </div>
        </div>
        <div class="col-lg-5 ms-auto">
          <div class="short-info">
            <p>
              Har bir loyiha uchun yangi imkoniyatlar yaratib, auditoriyangizni o'ziga jalb qilamiz va kuchli aloqalarni rivojlantiramiz.
            </p>
            <a class="view-all-btn2" href="blog.html">
              Barcha bloglarni ko'rish
              <img
                class="ms-1"
                src="{% static 'assets/img/icons/icon-right.svg' %}"
                alt="icon-right-white"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="blog-three-main">
        <div class="row g-4">
          <div class="col-lg-4 col-md-6 fade-up">
            <div class="blog-three-item">
              <div class="text">
                <ul
                  class="list-unstyled d-flex justify-content-between align-items-center"
                >
                  <li><a href="home-three.html#">Ilova</a></li>
                  <li><a href="home-three.html#">03 Aprel, 2025</a></li>
                </ul>
                <a href="blog-details.html" class="title">
                  Konsalting sohasidagi o'zgarishlarga moslashish.
                </a>
                <div
                  class="read-more d-flex align-items-center justify-content-between"
                >
                  <img
                    src="{% static 'assets/img/icons/arrow-line.svg' %}"
                    alt="arrow-line"
                    class="arrow-line"
                  />
                  <a class="view-all-btn2" href="blog-details.html">
                    Batafsil o'qish
                    <img
                      class="ms-1"
                      src="{% static 'assets/img/icons/icon-right.svg' %}"
                      alt="icon-right-white"
                    />
                  </a>
                </div>
              </div>
              <div class="image">
                <a href="blog-details.html" class="d-block w-100">
                  <img
                    src="{% static 'assets/img/blog/blog-3-img-1.png' %}"
                    alt="blog-3-img"
                    class="img-fluid w-100"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade-up">
            <div class="blog-three-item">
              <div class="text">
                <ul
                  class="list-unstyled d-flex justify-content-between align-items-center"
                >
                  <li><a href="home-three.html#">Ilova</a></li>
                  <li><a href="home-three.html#">03 Aprel, 2025</a></li>
                </ul>
                <a href="blog-details.html" class="title">
                  Konsalting sanoatining biznesga moslashishi.
                </a>
                <div
                  class="read-more d-flex align-items-center justify-content-between"
                >
                  <img
                    src="{% static 'assets/img/icons/arrow-line.svg' %}"
                    alt="arrow-line"
                    class="arrow-line"
                  />
                  <a class="view-all-btn2" href="blog-details.html">
                    Batafsil o'qish
                    <img
                      class="ms-1"
                      src="{% static 'assets/img/icons/icon-right.svg' %}"
                      alt="icon-right-white"
                    />
                  </a>
                </div>
              </div>
              <div class="image">
                <a href="blog-details.html" class="d-block w-100">
                  <img
                    src="{% static 'assets/img/blog/blog-3-img-2.png' %}"
                    alt="blog-3-img"
                    class="img-fluid w-100"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 fade-up">
            <div class="blog-three-item">
              <div class="text">
                <ul
                  class="list-unstyled d-flex justify-content-between align-items-center"
                >
                  <li><a href="home-three.html#">Ilova</a></li>
                  <li><a href="home-three.html#">03 Aprel, 2025</a></li>
                </ul>
                <a href="blog-details.html" class="title">
                  Konsalting sohasidagi biznes o'zgarishlari.
                </a>
                <div
                  class="read-more d-flex align-items-center justify-content-between"
                >
                  <img
                    src="{% static 'assets/img/icons/arrow-line.svg' %}"
                    alt="arrow-line"
                    class="arrow-line"
                  />
                  <a class="view-all-btn2" href="blog-details.html">
                    Batafsil o'qish
                    <img
                      class="ms-1"
                      src="{% static 'assets/img/icons/icon-right.svg' %}"
                      alt="icon-right-white"
                    />
                  </a>
                </div>
              </div>
              <div class="image">
                <a href="blog-details.html" class="d-block w-100">
                  <img
                    src="{% static 'assets/img/blog/blog-3-img-3.png' %}"
                    alt="blog-3-img"
                    class="img-fluid w-100"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- blog section three end -->
  <!-- call to action section start -->
  <section class="call-to-action-section position-relative">
    <div class="container">
      <div class="main d-flex justify-content-between">
        <h3 class="title split-text right">
          Buyurtma berish uchun tugmani bosing
        </h3>
        <div class="cta-short-info">
          <p>
            Biz startaplar va katta-kichik bizneslar uchun: veb ilovalar, mobil ilovalar va telegram botlar yaratamiz.
          </p>
          <a
            href="home-three.html#"
            class="theme-btn theme-btn-light position-relative"
            >Tezkor bog'lanish
            <span
              class="d-flex justify-content-center align-items-center position-absolute top-0"
            >
              <img src="{% static 'assets/img/icons/icon-up-right.svg' %}" alt="icon-up-right"
            /></span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- call to action section end -->
</main>
<!-- main area end -->
{% endblock main_content %}
