{% load static %}

<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/fontawsome/css/all.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/fontawsome/css/fontawesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/slick.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/odometer.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
