<!DOCTYPE html>
<html lang="en">

<head>
  <!-- META -->
  {% include 'layout_parts/meta.html' %}

  <!-- CSS here -->
  {% include 'layout_parts/css_links.html' %}
</head>

<body>
  <!-- loading section start -->
  <div class="fullpage_loader">
    <div class="loader"></div>
  </div>
  <!-- loading section end -->

  <!-- header section start -->
  {% include 'components/header.html' %}
  <!-- header section end -->

  {% block main_content %}
  {% endblock main_content %}

  <!-- back to top button start -->
  <button class="scroll-to-top position-fixed">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-up">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M6 15l6 -6l6 6" /></svg>
  </button>
  <!-- back to top button end -->
  <!-- footer section start -->
  {% include 'components/footer.html' with footer_class=footer_class %}
  <!-- footer section end -->


  <!-- JS here -->
  {% include 'layout_parts/js_links.html' %}
</body>

</html>